@font-face {
font-family: 'Avenir';
src: local("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
font-family: 'Avenir';
src: local("fonts/AvenirNextLTPro-Bold.otf") format("opentype");
font-weight: bold;
}

body{
	/*font-family: 'Avenir', 'Muli', sans-serif;*/
  font-family: 'Avenir', 'Lora', sans-serif;
	/*font-family: 'Muli', sans-serif;*/
/*	font-weight: 400;*/
	overflow: hidden;
	color: #000;
}
.btn-white{
	background-color: #fff;
  border: none;
  font-color: black;
}
#click-subscribe{
  font-weight: bold;
}
button.subscribe{
  transition: all 0.3s ease 0.1s;
  opacity: 1;
}
button.subscribe{
  width: 120px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
button.subscribe:hover{
 opacity: 0;
}
button.subscribe:active{
  border: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
}
.logo{
	margin-top: 13px;
}
div.center-nav{
  left: 42%;
}
button.navbar-toggle{
  left: 42%;
}
ul.nav{
  left: 42%;
  margin-left: 140px;
  width: 100px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 4px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.form-control:focus {
  border-color: #bbb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  font-color: black;
}
.water {
    width: 100%;
    height: 0%;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    color: #fff;
}
.success{
	position: absolute;
  top: 40%;
  left: 38%;

}
.fadein {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    display: none;
    opacity: 0.5;
}
.whitelogo{
	position: absolute;
	bottom: 0;
}
.title{
	margin-top: 50px;
	margin-bottom: 20px;
}
.bodytext{
	margin-top: 20px;
  font-size: 1.2em;
}
.waterdrop{
	margin-top: 20px; 
}
.waterdrop:hover{
	opacity: 0.5; 
}
.form-control{
  border-radius: 0px; 
}
.navbar-toggle{
  border: none;
  float: left;
  color: black;
  margin-left: 10px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* hamburger color */
.navbar-default .navbar-toggle .icon-bar{
  background-color: black;
}

div.navbar-header{
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}

.form-signin{
  margin-top: 200px;
  position: relative;
}

.footer{
  margin-left: 15px;
}

.success h1{
  font-size: 4em;
}

.success h3{
  font-weight: normal;
}
.subscribe{
  font-weight: bold;
}
ul.nav{
  font-weight: bold;
}
h1{
  font-weight: 600;
}
.about{
  margin-top: 50px;
}
#img-drop{
  position: absolute;
  z-index: 999;
  left: 35%;
  top: 33%;
}
.logo-center{
  width: 90px;
  position: relative;
}
@media (max-width: 768px) {
  div.col-sm-8 {
  	/*fix width of text for mobile*/
    margin-left: 20px;
    margin-right: 20px;
  }
.success{
  left: 30%;
  right: auto;
}
  .form-signin{
  margin-top: 50px;
  max-width: 300px;
}
#click-subscribe{
  margin-top: 20px;
}
body{
  padding-top: 10px;
  overflow: hidden;
}
.abouttext{
  margin-left: 0px;
}
.navbar-collapse{
  font-size: 18px;
}
}
@media (max-width: 600px) {
  .success{
  left: 20%;
  top: 30%;
}
@media (max-width: 400px) {
  .success{
  left: 15%;
}
html{
  overflow: hidden;
}
